@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
  font-size: 5rem;
  color: white;
  text-align: center;
  padding-top: 25vh;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

header {
  width: 100%;
  height: 7vh;
  background-color: black;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  opacity: 0.5;
  position: fixed;
  z-index: 5;
  display: flex;
  top: 0;
  transition: ease-out 0.5s;
  justify-content: space-evenly;
  align-items: center;
}
header.madaTop {
  background-color: rgb(230, 158, 63);
  height: 12vh;
  position: initial;
  opacity: 1;
}
header.madaTop a {
  height: 50%;
}
header a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  transition: 0.5s;
  height: 100%;
  padding: 0 3%;
}
header a:hover {
  background-color: gray;
}

#headTop {
  background-color: rgb(230, 158, 63);
  width: 100%;
  height: 100vh;
}

#ourWorks {
  width: 100%;
}

#ourMember {
  padding: 3vh 0;
  width: 100%;
  background-color: #f8f8f8;
}
#ourMember .memberFlex {
  display: flex;
  justify-content: center;
}
#ourMember .memberFlex .memberBox {
  width: 400px;
  height: 400px;
}
#ourMember .memberFlex .memberBox .memberBoxFlex {
  display: flex;
  width: 100%;
  height: 160px;
}
#ourMember .memberFlex .memberBox .memberBoxFlex .icon {
  width: 40%;
  height: 100%;
}
#ourMember .memberFlex .memberBox .memberBoxFlex .icon .mainIcon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 9999px;
  height: 100%;
  width: 100%;
}
#ourMember .memberFlex .memberBox .memberBoxFlex .name {
  padding-top: 10%;
  width: 60%;
  height: 100%;
  padding-left: 10px;
  font-size: 3.7rem;
}
#ourMember .memberFlex .memberBox .memberBoxFlex .name span {
  font-size: 1.5rem;
  color: gray;
  vertical-align: text-top;
}
#ourMember .memberFlex .memberBox .social {
  width: 100%;
  height: 70px;
  display: flex;
}
#ourMember .memberFlex .memberBox .skills {
  width: 100%;
  height: 170px;
  display: flex;
}

#contactUsForm {
  padding: 3vh 0;
  background-color: #f8f8f8;
}

footer {
  background-color: rgb(230, 158, 63);
  height: 15vh;
}

span.sc {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 5px;
  transition: 0.1s;
  border: 3px solid transparent;
}
span.sc.note {
  background-image: url(./socials/note_square.png);
}
span.sc.github {
  background-image: url(./socials/github_github-mark.png);
}
span.sc.misskey {
  background-image: url(./socials/misskey_icon.png);
}
span.sc.youtube {
  background-image: url(./socials/YouTube_23392.png);
}
span.sc.discord {
  background-image: url(./socials/discord_icon_130958.png);
}

span.sk {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
}
span.sk.typescript {
  background-image: url(./skill/typescript_plain_logo.png);
}
span.sk.javascript {
  background-image: url(./skill/file_type_js_official_icon_130509.png);
}
span.sk.python {
  background-image: url(./skill/python_18894.png);
}
span.sk.cs {
  background-image: url(./skill/c_sharp_icon_213045.png);
}
span.sk.cpp {
  background-image: url(./skill/c_icon_132529.png);
}

.lv3 {
  border: 3px solid rgb(0, 162, 255);
}

.lv2 {
  border: 3px solid rgb(0, 125, 134);
}

.lv1 {
  border: 3px solid rgb(0, 49, 53);
}

span.sc:hover {
  border: 3px solid red;
}

a {
  display: flex;
}

div.mordal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 1;
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw;
  margin-right: 0;
  transition: 0.5s;
  background-color: white;
}

div.blackbackMD {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 7;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
}
div.blackbackMD.hideMD {
  opacity: 0;
}
div.blackbackMD.hideMD + div.mordal {
  opacity: 0 !important;
}

#scrolldown_animation.scrolldown {
  transition: 0.5s;
}
#scrolldown_animation.scrolldown.hideSA {
  opacity: 0;
}

/* https://web-navigator.blog/scrolldown/ */
.scrolldown {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  left: 50%;
  bottom: 10px;
  /*全体の高さ*/
  height: 150px;
  /*Scrollテキストの描写*/
  /* 線の描写 */
}
.scrolldown span {
  /*描画位置*/
  position: absolute;
  left: -25px;
  top: -30px;
  /*テキストの形状*/
  color: #eee;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}
.scrolldown::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 0;
  /*線の形状*/
  width: 1px;
  height: 50px;
  background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 70px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 100px;
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */